html,
body {
    height: 100%;
}

.maincontainer{
  height:100%;
  margin-left: 20px;
  margin-right:20px;
}

.wrapper{
  height:100%;
}


.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
